
.signin-form{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.sign-in-button{
    width: 100px;
    background-color: green;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    padding: 4px 4px;
    border-radius: 5px;
    font-size: large;
}